.git
.gitignore
node_modules
dist
coverage
playwright-report
test-results
*.local
.env
.env.*
!.env.example
.DS_Store
design
docs

server/pocketbase
server/pb_data
server/CHANGELOG.md
server/LICENSE.md
